/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Styles */
.property-card {
  @apply border border-border rounded-lg overflow-hidden shadow-lg;
}

.property-card img {
  @apply w-full;
}

.property-card .details {
  @apply p-4 bg-white;
}

.property-card .title {
  @apply text-primary font-kufan text-2xl mb-2;
}

.property-card .description {
  @apply text-content mb-4;
}

.property-card .button {
  @apply bg-secondary text-white py-2 px-4 rounded;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.8s ease-out forwards;
}
